

h2 {
    color: black;
    font-style: italic;
}
 
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 15px 25px;
    margin: 15px 10px;
    justify-content: space-around;
    height: auto;
}

.lCN .cTY {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 10%;
    font-weight: bold;
}



.cRT {
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
    font-size: 15px;
}

.cRT .tMP {
    margin-bottom: 10%;
}

.cRT .wTR {
    margin-bottom: 10%;
}

.cRT .hLO {
    margin-bottom: 10%;
}

.cRT .hMD {
    margin-bottom: 10%;
}

.cRT .wND {
    margin-bottom: 10%;
}


.fiveday {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px
}
